<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/index"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/convert"><span class="glyphicon glyphicon-transfer"></span>Convert</a>
      </li>
      <li>
          <a href="/history"><span class="glyphicon glyphicon-time"></span>History</a>
      </li>
    </ul>
  </div>
</nav>
