<!DOCTYPE html>
<head>
  <title>Currency Converter</title>
  <% include ../partials/header.ejs %>
</head>
<% include ../partials/nav.ejs %>
<body>
    <div class="container-fluid">
        <h2>Welcome to currency converter</h2>
        <p>Select Convert page to convert current rates or History to convert history rates.</p>
    </div>
</body>
</html>
